body {
    background-color: aquamarine;
    font-family: 'Raleway', sans-serif;
}

h1,
h2 {
    font-family: 'Oswald', san-serif;
}

h1 {
    color: red;
    padding-top: 16px;
    padding-left: 8px;

}

p {
    margin: 0;
}

header {
    width: 100%;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-align: center;
}

/* Custom background colours */
.bg-lavander {
    background-color: #aaf;
}

.bg-menu {
    background-color: rgb(202, 198, 136);
}

.bg-navbar {
    background-color: #188fa1;
}

/* Menu item styling */
.menu-item {
    padding: 1rem 0;
}